.wrap .buy-pro, .wrap .description.customize-section-description a {
	background: #00c1cf;
	color: white;
	padding: 2px 7px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 2px;
}
.customize-sep-title {
	font-size:16px;
	color:#09F;
	margin:10px 0;
}
.customize-sep-title:before {
	content:"\f0fe ";
	font-family: 'FontAwesome';
	font-size:18px;
	padding-right:10px;
	color:#09F;
}
.accordion-section-content .alvele {
	display:block;
	width: 0 auto;
}
.alvele-premium {
	color:#09F;
	float: right;
	display:inline-block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
.alvele-premium i {
	color:#09F;
}